@Master['layout']

@Section['Content']

<br />
<div data-ng-controller="home-notifications" class="row ng-cloak">
    <div ng-repeat="notification in notifications" class="row">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <span ng-bind-html="notification.Message"></span>
            </div>
    </div>
</div>
<div data-ng-controller="home-items" class="row ng-cloak">
    <ul class="dynamic-grid" angular-grid="pics" ag-grid-width="225" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="false">

        <li data-ng-repeat="item in items" class="grid" ag-refresh-on-img-load="true">
            <div>
                <figure class="effect-sadie">
                    <a href="{{item.Url}}">
                        <img ng-src="{{item.ImageUrl}}" class="grid-img" data-actual-width="{{item.ImageWidth}}" data-actual-height="{{item.ImageHeight}}" />
                        <figcaption>
                            <div>
                                <h2 ng-bind-html="item.Title"></h2>
                                <p ng-bind-html="item.Description"></p>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </li>
    </ul>
</div>
@EndSection
